* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 80%; }

body {
  font-family: Myriad Pro Regular;
  background-color: #f2f2f2; }

button {
  border-style: none; }

.container {
  width: 750px;
  margin: 0 auto; }

.header {
  margin-bottom: 50px;
  background-color: white; }

.logo {
  width: 220px;
  height: 40px; }

.center {
  width: 750px;
  margin: 0 auto;
  padding: 10px 0px 20px 280px; }

.content {
  display: flex; }
  .content .circle {
    font-size: 20px;
    padding: 15px 30px 10px 25px;
    border-radius: 25px;
    width: 100px;
    height: 75px;
    background-color: #FA4A22;
    color: white; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #fa4a22;
  font-size: 32px;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

.modal-body {
  padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

.form {
  font-size: 20px;
  padding: 30px; }
  .form .submit {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 10px 0px; }
  .form .error {
    color: red;
    font-size: 15px; }

.successStaff {
  padding: 30px;
  display: none; }
  .successStaff .EYD {
    display: none; }
  .successStaff .endTable {
    display: flex;
    margin: 20px; }
  .successStaff .circleForm {
    font-size: 20px;
    padding: 15px 30px 10px 25px;
    border-radius: 25px;
    width: 150px;
    height: 75px;
    background-color: #FA4A22;
    color: white;
    margin: 0px 20px 10px 40px; }
