.logo{
    width: 220px;
    height: 40px;
}
.center{
    width:750px;
    margin:0 auto;
    padding:  10px 0px 20px 280px;

    
}
 .content{
  display:flex;
  .circle{
     font-size: 20px;
      padding: 15px 30px 10px 25px;
      border-radius: 25px;
      width: 100px;
       height: 75px;
       background-color: #FA4A22;
       color:white;
  }
 }
 